<div class="flex flex-col items-center">
<a href="/"><h1>Home</h1></a>
<button style="font-size: 55px" id="demo1">Celebrate ☕!</button>
<script>
// Pass in the id of an element
let confetti = new Confetti('demo1');
// Edit given parameters
confetti.setCount(75);
confetti.setSize(1);
confetti.setPower(25);
// confetti.setFade(false);
confetti.destroyTarget(false);
</script>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<br>
<% if current_user %>
  <li><%= current_user.email %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, method: :get  %></li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Log in", user_session_path %></li>
<% end %>
<br>
<h1>Articles</h1>
<br>
Our blog has:
<ul class="list-disc p-8">
<li>
<%= Article.loud_count %> "Loud" articles where users can comment,
</li>
<li>
<%= Article.subdued_count %> "Subdued" articles where we can observe,
</li>
<li>
and counting!
</li>
</ul>

<%# <div x-data="{ open: false }">
    <button @click="open = ! open">Toggle</button>
 
    <div x-show="open" @click.outside="open = false">
    <div x-data="{ count: 0 }">
    <button x-on:click="count++">Increment</button>
 
    <span x-text="count"></span>
    </div>
    </div>
</div> %>

<% if current_user %>
<%= link_to "Make a New ☕ Post", new_article_path, {class: "underline"} %>
<% end %>
<ul class="list-disc p-8">
<% if @trending %>
<li>
<%= link_to @trending.title, @trending, {class: "underline"} %> is the Trending Topic with the Most Comments and <%= @trending.likes.count %> <%= (@trending.likes.count) == 1 ? 'Like' : 'Likes'%></p>
</li>
<% end %>
</ul>
<h4 class="pl-6">Loud articles:</h4>
<ul class="list-disc">
  <% @articles.each do |article| %>
    <% if article.status == "loud" %>
      <li>
        <%= link_to article.title, article, {class: "underline"} %>
        <%= article.comments.length %> comments
      </li>
    <% end %>
  <% end %>
</ul>
<h4 class="pl-6">subdued articles:</h4>
<ul class="list-disc pb-8">
  <% @articles.each do |article| %>
    <% if article.status == "subdued" %>
      <li>
        <%= link_to article.title, article, {class: "underline"} %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>