Our blog has:
<ul>
<li>
<%= Article.loud_count %> "Loud" articles where users can comment,
</li>
<li>
<%= Article.subdued_count %> "Subdued" articles where we can observe,
</li>
<li>
and counting!
</li>
</ul>
<%= link_to "Make a New ☕", new_article_path, {style: "font-size: 44px;"} %>

<h4>Loud!</h4>
<ul>
  <% @articles.each do |article| %>
    <% if article.status == "loud" %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
<h4>subdued...</h4>
<ul>
  <% @articles.each do |article| %>
    <% if article.status == "subdued" %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
