<div class="flex flex-col items-center">
<button style="font-size: 55px" id="demo1">Celebrate ☕!</button>
<script>
// Pass in the id of an element
let confetti = new Confetti('demo1');
// Edit given parameters
confetti.setCount(75);
confetti.setSize(1);
confetti.setPower(25);
// confetti.setFade(false);
confetti.destroyTarget(false);
</script>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>

Our blog has:
<ul class="p-8">
<li>
<%= Article.loud_count %> "Loud" coffee articles where users can comment
</li>
<li>
<%= Article.subdued_count %> "Subdued" coffee articles where we can observe
</li>
</ul>

<% if current_user %>
<div class="bg-slate-200 px-8">
<%= link_to "Make a New ☕ Post", new_article_path, {class: "underline"} %>
</div>
<% end %>
<ul class="list-disc p-8">
<% if @trending %>
<li>
<%= link_to @trending.title, @trending, {class: "underline"} %> is the Trending Topic with the Most Comments and <%= @trending.likes.count %> <%= (@trending.likes.count) == 1 ? 'Like' : 'Likes'%></p>
</li>
<% end %>
</ul>
<h4 class="pl-6">Loud articles:</h4>
<ul class="list-disc">
  <% @articles.each do |article| %>
    <% if article.status == "loud" %>
      <li>
        Title: <%= link_to article.title, article, {class: "underline"} %>
        <%= article.comments.length %> comments
      </li>
    <% end %>
  <% end %>
</ul>
<br>
<h4 class="pl-6">subdued articles:</h4>
<ul class="list-disc">
  <% @articles.each do |article| %>
    <% if article.status == "subdued" %>
      <li>
        Title: <%= link_to article.title, article, {class: "underline"} %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>