<div class="flex flex-col items-center">
<button style="font-size: 55px">Celebrate ☕!</button>
<%= image_tag("hero-coffee.webp", class: "max-w-sm md:max-w-lg", fetchpriority: "high", alt: "a fine cup of coffee", id: "demo1") %>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
Click this coffee for some confetti!
<br>
The purpose of this multi-user blog is to write fun messages and talk about coffee!
<br>
Our wonderful coffee blog has:
<ul class="p-8 min-h-[120px]">
<li>
<%= Article.loud_count %> "Loud" 📣 coffee articles where users can comment
</li>
<li>
<%= Article.subdued_count %> "Subdued" 🔇 coffee articles where we can observe
</li>
</ul>

<% if current_user %>
<div class="bg-slate-200 px-8">
<%= link_to "Make a New ☕ Post", new_article_path, {class: "underline"} %>
</div>
<% else %>
<div class="bg-slate-200 px-8">
<h4>Log in with an account to post. Your username will be displayed when you make an article</h4>
</div>
<% end %>
<ul class="list-disc p-8">
</ul>
<h5 class="pl-6">📣 Loud articles: 📣</h4>
<ul class="list-disc">
  <% @articles.each do |article| %>
    <% if article.status == "loud" %>
      <li>
        Title: <%= link_to article.title, article, {class: "underline"} %>
        --
        <%= article.comments.length %> comments 
        --
        <%= article.likes.length %> likes
      </li>
    <% end %>
  <% end %>
</ul>
<br>
<h5 class="pl-6">🔇 subdued articles: 🔇</h4>
<ul class="list-disc">
  <% @articles.each do |article| %>
    <% if article.status == "subdued" %>
      <li>
        Title: <%= link_to article.title, article, {class: "underline"} %>
        --
        <%= article.likes.length %> likes

      </li>
    <% end %>
  <% end %>
</ul>
<br>
<br>
<h3>v0.0.5</h3>  
<h3 class="text-black underline"><a href="https://github.com/airbr"> The code for this blog, and my Github </a></h3>
</div>