<div class="flex flex-col items-center">
<a href="/"><h1>Home</h1></a>

<div class="text-center">
<% if @article.status == 'loud' %>
<audio controls>
  <source src="/airhorn.mp3" type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
<% end %>

<h1>Author: <%= @author.email %></h1>

<h1>TITLE: <%= @article.title %></h1>

<p>CONTENT: <%= @article.body %></p>

<% if flash[:notice] %>
  <h1 class="notice"><%= flash[:notice] %></h1>
<% end %>

<% if current_user and @author.id == current_user.id %>
<ul class="underline">
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<% end %>


</div>
<div>
<% if user_signed_in? %>

  <% if @article.status == 'loud' %>
    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <% end %>

<% end %>
</div>
</div>