<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.status == 'loud' %>
<audio controls>
  <source src="/airhorn.mp3" type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
<% end %>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<hr style="width: 100%; border-top: 8px solid #bbb; border-radius: 5px;">
<% if @article.status == 'loud' %>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>