<div class="p-2 text-black bg-slate-200 flex flex-row justify-between">
<div class="pl-4">
<a href="/"><h1>Home</h1></a>
</div>
<div class="pr-4">
<% if current_user %>
  <div class="">
  <span class="px-1"><%= current_user.email %></span>
  <% if current_user.username? %>
  <br>
  <b>Username:</b><span class="px-1"><%= current_user.username %></span>
  <% end %>
  <br>
  <span class="px-1"><%= link_to "Sign out", destroy_user_session_path, method: :get  %></span>
  </div>
<% else %>
  <div class="">
  <span class="px-1"><%= link_to "Sign up", new_user_registration_path %></span>
  <span class="px-1"><%= link_to "Log in", user_session_path %></span>
  </div>
<% end %>
</div>

</div>
